/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding: 20px;


}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

div {
    padding: 10px;
}



  
 